.container{
    width: 334px;
    outline: 1px solid red;
    margin: 0 auto;
}
.baground-img{
    background-image: url(../../photo/baground-head.jpg) ;
    background-repeat: no-repeat;
    width: 333px;
    height: 538px ;
}